/* COLORES */

$color-primary: rgb(82, 102, 223);
$color-secondary: rgb(249, 89, 91);
$color-text-dark: rgb(37, 43, 70);
$color-text-gray: rgb(107, 114, 128);
$color-text-light: rgb(157, 163, 176);
$color-white: #ffffff;
$color-background: rgb(245, 247, 250);
$color-black:rgb(0, 0, 0);


/* TIPOGRAFIA Y TAMAÑOS */

$font-family: "Rubik", sans-serif;
$font-size-sm: 0.9rem;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.4rem;

/* OTROS */
$border-radius: 5px;



