@use "../abstracts/variables" as *;

.bookmark_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}
.bookmark_section_text {
  width: 80%;
  margin: 4rem auto;
  h2 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  p {
    margin-bottom: 1.5rem;
    color: $color-text-gray;
  }
}

.bookmark_section_img {
  margin-left: 2rem;
  position: relative;
  aspect-ratio: 5 / 4;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: relative;
    z-index: 2;
    margin-left: auto;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 110%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 0 200px 200px 0;
    left: -25%;
    top: 17%;
  }
}

.button_more_info {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: $border-radius;
  color: $color-white;
  &:hover {
    cursor: pointer;
    background: white;
    border: 2px solid rgb(83, 104, 223);
    color: rgb(83, 104, 223);
  }
}

@media (max-width: 768px) {
  .bookmark_section {
    grid-template-columns: 1fr;
  }
  .bookmark_section_img {
    order: -1;
    margin: 0;
    img {
      max-width: 85%;
      margin: 0 auto;
    }
    &:after {
      top: 20%;
      height: 100%;
      width: 105%;
    }
  }

  .bookmark_section_text {
    width: 85%;
    margin: 4rem auto;
    text-align: center;
    h2 {
      font-weight: 500;
      font-size: $font-size-lg;
    }
    p {
      font-size: $font-size-sm;
      color: rgb(124, 126, 128);
    }
  }
  .button_more_info {
    display: none;
  }
}
