@use "../abstracts/variables" as *;

.download_extensions {
  margin: 7rem 0 5rem 0;
}
.download_extensions_text {
  text-align: center;
  margin-bottom: 5rem;
  h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: $color-text-gray;
  }
}

.extensions_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  gap: 2rem;
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
  gap: 1.5rem;
  box-shadow: 3px 8px 23px -2px rgba(0, 0, 0, 0.44) ;
  
  h3 {
    font-weight: 500;
  }
  p {
    color: $color-text-gray;
  }
  button {
    background-color: $color-primary;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem;
    border: 2px solid;
    border-radius: $border-radius;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      border: 2px solid $color-primary;
      color: $color-primary;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  &:nth-child(2) {
    margin-top: 3rem;
  }

  &:nth-child(3) {
    margin-top: 6rem;
  }
  .linea_punteada {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .download_extensions {
    margin: 2rem 0 1rem 0;
  }

  .download_extensions_text {
    h2 {
      width: 85%;
      margin: 0 auto;
      font-size: 1.2rem;
      margin: 1rem;
    }
    p {
      width: 85%;
      margin: 0 auto;
    }
  }

  .extensions_cards {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 6rem;
    gap: 2rem;
  }
  .card:nth-child(2) {
    margin-top: 0;
  }
  .card:nth-child(3) {
    margin-top: 0;
  }
}
