@use "../abstracts/variables" as *;

.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero_section_text {
  width: 70%;
  margin: 5rem auto;
  h1 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  p {
    margin-bottom: 1.5rem;
    color: $color-text-light;
  }
}

.hero_section_img {
  margin-left: 2rem;
  position: relative;
  aspect-ratio: 5 / 4;
  img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    object-fit: contain;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 65%;
    background-color: $color-primary;
    border-radius: 200px 0 0 200px;
    right: -25%;
    top: 35%;
  }
}

.button_chrome {
  background-color: $color-primary;
  color: $color-white;
  border: 2px solid $color-primary;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border-color: $color-primary;
  }
}

.button_firefox {
  background-color: $color-white;
  color: $color-text-light;
  padding: 0.7rem 1.2rem;
  border: 2px solid $color-white;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(73, 73, 73, 0.15);

  &:hover {
    color: rgb(57, 58, 60);
    border-color: rgb(57, 58, 60);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .hero_section {
    grid-template-columns: 1fr;
  }
  .hero_section_img {
    order: -1;
    margin-left: 0;
    min-height: 300px;
    img {
      position: relative;
    }
    &:after {
      top: 22%;
      height: 72%;
      right: -19%;
    }
  }

  .hero_section_text {
    width: 85%;
    margin: 2rem auto;
    text-align: center;
    h1 {
      font-size: 1.4rem;
    }
    p {
      font-size: 0.9rem;
      color: $color-text-light;
    }
  }

  .buttons_get_it {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .button_chrome,
  .button_firefox {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0;
  }
  .button_chrome {
    color: $color-white;
    background-color: $color-primary;
    &:hover {
      color: $color-primary;
    }
  }

  .button_firefox {
    background-color: $color-white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    color: $color-text-light;
  }
}
