nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 2rem auto;
  position: sticky;
  top: 0;
  
  z-index: 100;

  .logo_bookmark {
    margin-left: 1.5rem;
    height: 1.5rem;
  }

  ul {
    display: flex;
    margin: 1rem;
    align-items: center;
    li {
      list-style: none;
      margin-left: 1rem;
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      a:hover{
        cursor: pointer;
        transform:2px;
      }
    }
    .btn_login {
      border-radius: 5px;
      background-color: rgb(227, 87, 87);
      border: 2px solid rgb(227, 87, 87);
      color: white;
      padding: 0.4rem 1rem;
      transition: all 0.2s ease;
    }
    .btn_login:hover {
      background-color: white;
      color: rgb(227, 87, 87);
      border: 2px solid rgb(227, 87, 87);
      cursor: pointer;
      
      
    }
  }

  .hamburguer {
    display: none;
  }
}

@media (max-width: 768px) {
  nav {
    .hamburguer {
      display: flex;
    }
    .logo_bookmark {
      margin-left: 0;
    }
    ul {
      display: none;
    }
  }
}
