* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  section {
    margin-top: 2rem;
  }
  p {
    line-height: 1.8;
  }
}

/* NAVBAR CSS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 2rem auto;
  position: sticky;
  z-index: 100;
}
.logo_bookmark_navbar {
  margin-left: 1.5rem;
  height: 1.8rem;
}
.navbar_list {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.navbar_list li {
  list-style: none;
  margin-left: 1rem;
}
.navbar_list li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  a:hover {
    cursor: pointer;
    transform: 2px;
  }
}
.btn_login {
  border-radius: 5px;
  background-color: rgb(249, 89, 91);
  border: 2px solid rgb(249, 89, 91);
  color: white;
  padding: 0.4rem 1rem;
  transition: all 0.2s ease;
}
.btn_login:hover {
  background-color: white;
  color: rgb(249, 89, 91);
  border: 2px solid rgb(249, 89, 91);
  cursor: pointer;
}
.hamburguer_menu {
  display: none;
}

/* HERO SECTION CSS*/

.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero_section_text {
  width: 70%;
  margin: 5rem auto;
}
.hero_section_text h1 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.hero_section_text p {
  margin-bottom: 1.5rem;
  color: rgb(157, 163, 176);
}
.hero_section_img {
  margin-left: 2rem;
  position: relative;
  aspect-ratio: 5 / 4;
}

.hero_section_img img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.hero_section_img::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 65%;
  background-color: rgb(82, 102, 223);
  border-radius: 200px 0 0 200px;
  right: -25%;
  top: 35%;
}
.button_chrome {
  background-color: rgb(82, 102, 223);
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}
.button_chrome:hover {
  background-color: white;
  color: rgb(82, 102, 223);
  border: 2px solid rgb(82, 102, 223);
}

.button_firefox {
  background-color: white;
  color: rgb(157, 163, 176);
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(73, 73, 73, 0.15);
  border: none;
}
.button_firefox:hover {
  color: rgb(57, 58, 60);
  border: 2px solid rgb(57, 58, 60);
}

/* FEATURE SECTION CSS */

.features_section div {
  text-align: center;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}
.features_section p {
  width: 35%;
  color: rgb(107, 114, 128);
  margin: 1.5rem auto 3rem;
  text-align: center;
  justify-items: center;
  margin: 0 auto 1rem;
}
.features_section h2 {
  font-weight: 500;
  text-align: center;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.features_section_buttons {
  display: flex;
  justify-content: space-around;
}
.features_section_buttons button {
  width: 100%;
  background-color: white;
  border: none;
  padding: 1.2rem 0;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
}
.features_section_buttons button:hover {
  color: rgb(224, 77, 77);
  cursor: pointer;
}

.features_section_buttons .simple_bookmarking_button {
  border-bottom: solid rgb(224, 77, 77) 3px;
}

/* BOOKMARK SECTION CSS*/

.bookmark_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}
.bookmark_section_text {
  width: 80%;
  margin: 4rem auto;
}

.bookmark_section_text h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.bookmark_section_text p {
  margin-bottom: 1.5rem;
  color: rgb(107, 114, 128);
}
.bookmark_section_img {
  margin-left: 2rem;
  position: relative;
  aspect-ratio: 5 / 4;
}

.bookmark_section_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: relative;
  z-index: 2;
  margin-left: auto;
}

.bookmark_section_img::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 110%;
  height: 100%;
  background-color: rgb(83, 104, 223);
  border-radius: 0 200px 200px 0;
  left: -25%;
  top: 17%;
}

.button_more_info {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-color: rgb(83, 104, 223);
  border: 2px solid rgb(83, 104, 223);
  border-radius: 5px;
  color: white;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  /* NAVBAR */
  .hamburguer_menu {
    display: flex;
  }

  .logo_bookmark_navbar {
    margin-left: 0;
  }
  .navbar_list {
    display: none;
  }

  /* HERO SECTION */

  .hero_section {
    grid-template-columns: 1fr;
  }
  .hero_section_img {
    order: -1;
    margin-left: 0;
    min-height: 300px;
  }
  .hero_section_img img {
    position: relative;
  }
  .hero_section_img::after {
    top: 22%;
    height: 72%;
    right: -19%;
  }
  .hero_section_text {
    width: 85%;
    margin: 2rem auto;
    text-align: center;
  }
  .hero_section_text h1 {
    font-size: 1.4rem;
  }
  .hero_section_text p {
    font-size: 0.9rem;
    color: rgb(157, 163, 176);
  }

  .buttons_get_it {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .button_chrome,
  .button_firefox {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
  }
  .button_chrome {
    color: white;
    background-color: rgb(82, 102, 223);
    margin-right: 0.4rem;
  }
  .button_chrome:hover {
    color: rgb(82, 102, 223) !important ;
  }
  .button_firefox {
    background-color: white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    color: rgb(157, 163, 176);
  }

  /* FEATURE SECTION  */

  .features_section {
    margin-top: 6rem;
    min-width: 75%;
  }
  .features_section p {
    width: 90%;
    font-size: small;
    color: rgb(152, 149, 145);
  }
  .features_section h2 {
    font-size: 1.2rem;
  }
  .features_section_buttons {
    display: grid;
    grid-template-columns: 1fr;

    min-width: 75%;
    margin-top: 2rem;
  }
  .simple_bookmarking_button {
    border-bottom: none !important;
    z-index: 0;
  }
  .simple_bookmarking_button::after {
    content: "  ";
    position: absolute;
    z-index: 1;
    height: 6px;
    width: 60%;
    margin: auto;
    background-color: rgb(249, 89, 91);
    right: 20%;
    top: 96%;
  }

  .simple_bookmarking_button,
  .speedy_searching_button,
  .easy_sharing_button {
    border-top: solid rgb(157, 163, 176) 1px !important;
  }
  .easy_sharing_button {
    border-bottom: solid rgb(157, 163, 176) 1px !important;
  }

  .features_section_buttons button:hover {
    color: black !important;
    font-weight: 500;
    cursor: pointer;
  }

  /* BOOKMARK SECTION */
  .bookmark_section {
    grid-template-columns: 1fr;
  }
  .bookmark_section_img {
    order: -1;
    margin: 0;
  }

  .bookmark_section_img img {
    max-width: 85%;
    margin: 0 auto;
  }
  .bookmark_section_img::after {
    top: 20%;
    height: 100%;
    width: 105%;
  }

  .bookmark_section_text {
    width: 85%;
    margin: 4rem auto;
    text-align: center;
  }
  .bookmark_section_text h2 {
    font-weight: 500;
    font-size: 1.1rem;
  }
  .bookmark_section_text p {
    font-size: 0.9rem;
    color: rgb(124, 126, 128);
  }
  .button_more_info {
    display: none;
  }
}
