* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  section{
    margin-top: 2rem;
  }
  p {
    line-height: 1.8;
  }
}

/* NAVBAR CSS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 2rem auto;
  position: sticky;
  z-index: 100;
}
.logo_bookmark_navbar {
  margin-left: 1.5rem;
  height: 1.8rem;
}
.navbar_list {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.navbar_list li {
  list-style: none;
  margin-left: 1rem;
}
.navbar_list li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  a:hover {
    cursor: pointer;
    transform: 2px;
  }
}
.btn_login {
  border-radius: 5px;
  background-color: rgb(227, 87, 87);
  border: 2px solid rgb(227, 87, 87);
  color: white;
  padding: 0.4rem 1rem;
  transition: all 0.2s ease;
}
.btn_login:hover {
  background-color: white;
  color: rgb(227, 87, 87);
  border: 2px solid rgb(227, 87, 87);
  cursor: pointer;
}
.hamburguer_menu {
  display: none;
}




/* MEDIA QUERY */

@media (max-width: 768px) {

  /* NAVBAR */
  .hamburguer_menu {
    display: flex;
  }

  .logo_bookmark_navbar{
    margin-left: 0;
  }
  .navbar_list{
    display: none;
  }
















}

