* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  section{
    margin-top: 2rem;
  }
  p {
    line-height: 1.8;
  }
}
