.contact_section {
  background-color: rgb(75, 75, 205);
  padding: 3rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.5rem;
}

.contact_section p {
  font-size: 14px;
  letter-spacing: 8px;
}

.contact_section h2 {
  width: 30%;
  text-align: center;
}

.form_email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.input_div {
  position: relative;
  width: 20%;
}

#input_email {
  width: 100%;
  padding: 0.7rem 2.5rem 0.7rem 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

#input_email::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#input_email.error {
  border: 3px solid rgb(224, 77, 77);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.error_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: none;
}

.error_icon.show {
  display: block;
}

.error_message {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 0.75rem;
  background-color: rgb(224, 77, 77);
  color: white;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  display: none;
}

.error_message.show {
  display: block;
}

.button_contact {
  background-color: rgb(224, 77, 77);
  padding: 0.7rem 1.5rem;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(224, 77, 77);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

.button_contact:hover {
  background-color: white;
  color: rgb(224, 77, 77);
}

@media (max-width: 768px) {
  .contact_section {
    row-gap: 2rem;
  }

  .contact_section h2 {
    width: 90%;
  }

  .form_email {
    flex-direction: column;
    width: 90%;
    gap: 1rem;
  }

  .input_div {
    width: 100%;
  }

  .button_contact {
    width: 100%;
  }
  .button_contact.has_error {
    margin-top: 2rem;
  }
}
