@import "tailwindcss";

/* ===== VARIABLES ===== */
@layer base {
  :root {
    --color-primary: #5265e1;
    --color-secondary: #fa5959;
    --color-menu-dark: #252b46;
  }
}

/* ===== CLASES CUSTOM ===== */
@layer utilities {
  /* Estados normales */
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .border-secondary {
    border-color: var(--color-secondary);
  }
  .bg-menu-dark {
    background-color: var(--color-menu-dark);
  }
  .bg-menu-dark-opacity70 {
    background-color: var(--color-menu-dark);
    opacity: 95%;
  }

  .hover\:text-secondary:hover {
    color: var(--color-secondary);
  }

  .hover\:text-primary:hover {
    color: var(--color-primary);
  }

  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary);
  }

  .hover\:bg-primary:hover {
    background-color: var(--color-primary);
  }

  .hover\:bg-white:hover {
    background-color: white;
  }

  .hover\:border-secondary:hover {
    border-color: var(--color-secondary);
  }

  .hover\:border-primary:hover {
    border-color: var(--color-primary);
  }
}

/* ===== ESTILOS GLOBALES ===== */
* {
  font-family: "Rubik", sans-serif;
  
}
body{
  overflow-x: hidden;
}


main p {
  line-height: 1.8;
}
